* {
  outline: none;
}

a, button {
  cursor: pointer;
}

a {
  color: white;
}

#appname {
  margin-right: 120vh;
}

body {
  background-color: #db7d00;
}

button {
  margin-top: 200px !important;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.event-results {
  display: flex;
  max-width: 89%;
  margin: 0 auto;
  text-align: left;
  margin-top: 10%;
}

.event-card .outline-btn {
  margin-right: 20px;
}

.event-results .event-card {
  box-sizing: border-box;
  flex: 1;
  background-color: #ad670a;
  margin-top: 50px;
  padding: 20px 45px;
  border: rgba(255,255,255,0) 1px solid;
  transition: .5s;
}

.event-results .event-card:hover {
  background-color: #7c4b09;
  transform: translateY(-5px);
}

.event-results .event-card ul {
  list-style: none;
  padding-left: 0;
}

.event-info li {
  line-height: 28px;
  font-size: 15px;
  letter-spacing: 0.25px;
}

.event-image {
  height: 100px;
  width: 100px;
}

#event-status {
  color: #41FFC0;
}

.event-bar-container h3 {
  font-size: 24px;
  font-weight: 400;
}

.form-container {
  flex-direction: column;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-container h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  opacity: .40;
}

.form-container input {
  padding-left: 15px;
  color: white;
  box-sizing: border-box;
  height: 50px;
  min-width: 320px;
  border: rgba(255,255,255,0) 1px solid;
  border-radius: 3px;
  background-color: rgba(255,255,255,.05);
  transition: .5s;
  -webkit-transition: .5s;
}

.form-container input:focus {
  border: rgba(255,255,255,1) 1px solid;
}

.form-button {
  margin-top: 20px;
}

.hidden-form input {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: white;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 52px !important;
  font-weight: 600;
  margin: 0 0 30px 0 !important;
  font-family: 'Oxygen', sans-serif;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

.homepage-container {
   text-align: center;
   margin-top: 15%;
}

.input {
  color: #FAFAFA;
  text-align: center;
  font-size: 1.2rem;
  background: transparent;
  border: 3px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  display: inline-flex;
  margin-left: -45px;
  margin-top: 40px;
  position: absolute;
  align-items: center;
  align-content: center;
}

input, select, textarea{
  color: #FAFAFA;
  font-family: 'Permanent Marker';
}

.label {
  opacity: .65;
  padding-right: 10px;
}

.loading-anim {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 100%;
  border: rgba(255,255,255,.25) 1px solid;
  border-top: rgba(255,255,255,1) 1px solid;
  animation-name: loading-animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  position: absolute;
  top: 40%;
  left: 27.5%;
}

.mbl-img {
  display: none;
}

.navbar {
  display: flex;
  position: relative;
  height: 75px;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}

.navbar .logo {
  flex: 2;
  background-image: url('../assets/upicklogo.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  background-size: 130px;
  width: 250px;
  height: 250px;
  margin-top: 180px;
  margin-left: 15px;
}

.navbar ul {
  flex: 1;
  padding-left: 0;
  position: absolute;
  right: 0;
  margin: 0;
  margin-right: 35px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 25px;
  color: white;
  font-size: 16px;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: .25s;
}

.navbar a:hover {
  opacity: .65;
}

.outline-btn {
  text-align: center;
  color: #FFF;
  font-family: 'Permanent Marker';
  font-size: 30px;
  background-color: transparent;
  height: 50px;
  min-width: 125px;
  padding: 0 20px;
  line-height: 45px;
  border-radius: 40px;
  border-color: #FAFAFA;
  transition: background-color 0.25s, transform 0.5s;
  -webkit-transition: background-color 0.15s, transform 0.5s;
  cursor: pointer;
}

.outline-btn:hover {
  background-color: white;
  color: orange;
  transform: translateY(-15px);
}

#picky {
  font-family: 'Permanent Marker';
}

.randomizer {
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  padding: 50px 0px 0px -40px;
}

#submit {
  position: absolute;
  margin-top: 350px;
  left:50%;
}

#secondary-btn-caret {
  font-size: 22px;
  position: relative;
  bottom: -2px;
  margin-left: 6px;
}

.standard-btn {
  text-align: center;
  color: #1F243D;
  background-color: white;
  height: 50px;
  min-width: 145px;
  padding: 0 20px;
  margin-top: 10px !important;
  line-height: 45px;
  border-radius: 50px;
  transition: background-color 0.25s, transform 0.5s;
  -webkit-transition: background-color 0.25s, transform 0.5s;
  cursor: pointer;
  border: none;
}

.standard-btn:hover {
  background-color: rgba(255,255,255,0.75);
  transform: translateY(-3px);
}

.secondary-btn {
  font-family: 'Permanent Marker';
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
  opacity: .45;
  letter-spacing: .50px;
  transition: .25s;
}

.secondary-btn:hover {
  opacity: 3;
}

textarea:focus, input:focus {
  color: #FAFAFA;
  font-family: 'Permanent Marker';
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.video iframe {
    position: fixed;
    top: -80px;
    left: -205px;
    z-index: -2;
    width: 125%;
    height: 125%;
}

.video .overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3,6,12,.50);
}

@keyframes loading-animation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@media (max-width: 1100px) {

  .input {
    color: #FAFAFA;
    text-align: center;
    font-size: 1.2rem;
    background: transparent;
    border: 3px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: inline-flex;
    margin-left: -45px;
    margin-top: 40px;
    position: absolute;
    align-items: center;
    align-content: center;
  }

  .video {
    display: none;
  }

  button {
    margin-top: 200px !important;
  }

  .bg-img {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    position: fixed;
    z-index: -1;
  }

  .bg-img, .overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3,6,12,.50);
  }

  .event-card .secondary-btn {
    margin-top: 20px;
  }

}

@media (max-width: 768px) {

  button {
    margin-top: 200px !important;
  }

  h1 {
    font-size: 42px !important;
  }

  h2 {
    font-size: 26px;
  }

  .form-container input {
    height: 40px;
  }

  .event-card .outline-btn {
    margin-right: 0;
  }

  .input {
    color: #FAFAFA;
    text-align: center;
    font-size: 1.2rem;
    background: transparent;
    border: 3px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: inline-flex;
    margin-left: -45px;
    margin-top: 40px;
    position: absolute;
    align-items: center;
    align-content: center;
  }

  .bg-img, .overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3,6,12,.50);
  }

}

@media (max-width:600px) {

  h1 {
    font-size: 34px !important;
    line-height: 45px;
    color: #FAFAFA;
  }

  .outline-btn {
    text-align: center;
    color: #FAFAFA;
    background-color: transparent;
    height: 50px;
    min-width: 125px;
    padding: 0 20px;
    line-height: 45px;
    border-radius: 40px;
    transition: background-color 0.25s, transform 0.5s;
    -webkit-transition: background-color 0.15s, transform 0.5s;
    cursor: pointer;
  }

  .outline-btn:hover {
    background-color: #311d7c;
    color: #FAFAFA;
    transform: translateY(-3px);
  }

  h2 {
    font-size: 22px;
  }

  .navbar .logo {
    width: 145px;
    margin-left: 10px;
  }

  .navbar ul {
    margin-right: 20px;
  }

  .homepage-container {
    max-width: 280px;
    margin: 15% auto 0 auto;
  }

  .event-results {
    display:flex;
    flex-direction: column;
    margin-top: 3%;
  }

  .event-results .event-card {
    list-style: none;
    text-align: center;
    padding: 38px 30px;
  }

  .event-card h2 {
    text-align: left;
  }

  .event-info {
    text-align: left;
  }

  .input {
    color: #FAFAFA;
    text-align: center;
    font-size: 1.2rem;
    background: transparent;
    border: 3px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: inline-flex;
    margin-top: 40px;
    margin-left: -45px;
    position: absolute;
    align-items: center;
    align-content: center;
  }

  .loading-anim {
    top: 25%;
    left: 43.5%;
  }

  .randomizer {
    margin: 0 auto;
  }

  .bg-img {
    background-image: url('../assets/background.jpg');
    z-index: -2;
  }

  .bg-img, .overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3,6,12,.50);
  }

  button {
    margin-top: 200px !important;
  }

}
